.App {
  text-align: center;
  width: fit-content;
}
*,
::after,
::before {
  box-sizing: border-box;
}

.App,
body,
.container {
  margin: 60px auto;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
}

h6 {
  margin: 0px;
  font-weight: 600;
}
li {
  text-decoration: none;
}

img.iconic {
  width: 40px;
  height: 40px;
}
.container {
  width: fit-content;
}
.row {
  --bs-gutter-x: 0;

  vertical-align: middle;
  padding: 0;
  margin: 0 auto;
}
.row1,
.row2 {
  margin: auto;
}

.row1 {
  --bs-gutter-x: 0;

  text-align: center;
  min-width: 175px;
  padding: 20px 0px;
}
.row.row1 {
  --bs-gutter-x: 0;
  border: 1px solid #b1a9a9;
  border-radius: 0px;
  padding: 0;
}
.row.row2 {
  --bs-gutter-x: 0;
  border: 1px solid #b1a9a9;
  border-radius: 0px;
  padding: 0;
}
.row.row2 > h6 {
  line-height: 0.9;
  padding: 0;
  margin: 0;
}
.row2 {
  --bs-gutter-x: 0;
  text-align: center;
  vertical-align: middle;
  margin: 0px 0px;
  text-align: center;
  --bs-gutter-x: 1em;
  min-width: 155px;
  padding: 15px 0;
}

.card-title {
  margin: 0;
}
h1.card-title > canvas {
  margin-top: 18px;
}

.card.main {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border: 0px;
}
.card.sm-2 {
  min-width: 130px;
  border: 0px;
  margin: 0 auto;
}

div.card-body {
  padding: 0.1em;
}

footer {
  margin: 0.2em 0;
}
.loader {
  text-align: center;
  margin-top: 100px;
}
