.Forecast ul.strip {
  background: #b1a9a9;
  font-weight: 600;
  color: #fff;
  margin: 0px;
  padding: 3px 10px;
  border-radius: 0px;
}

.Forecast p {
  margin-top: 5px;
  text-align: left;
  font-size: smaller;
}

.Forecast .forecast-night {
  opacity: 0.4;
  margin-left: 8px;
}
