.Forecast ul.strip {
  background: #1ab2a8;
  font-weight: 600;
  color: #fff;
  margin: 0px;
  padding: 6px 20px;
  border-radius: 0px;
}

.Forecast p {
  margin-top: 5px;
  text-align: left;
  font-size: smaller;
}
