.SearchBar {
  margin: 0 auto;
  text-align: center;
  margin: 0;
  padding: 0;
}
.SearchBar form {
  margin-bottom: 4em;
}
.SearchBar .form-group {
  text-align: center;
  margin: 0 auto;
}
.SearchBar .form-control {
  min-width: 100%;
  border-width: 1px;
  border-color: #999992;
}
.SearchBar .form-control:focus {
  border-color: #9e9e95;
  border-width: 1px;
}
.SearchBar .btn {
  background: #999992;
  color: rgb(255, 255, 255);
  margin: 0;
  font-weight: 600;
  border-width: 1px;
  border-color: #999992;
  vertical-align: middle;
  border-radius: 0%;
  margin-left: -1px;
}
.SearchBar .col-2 {
  flex: none;
}
.SearchBar .btn:visited,
.SearchBar .btn:focus {
  border-color: #999992;
  background: #999992;
}
.SearchBar .btn:active,
.SearchBar .btn:hover {
  border-color: #1e1e1e;
  background: #1e1e1e;
}
.Searchbar h3 {
  margin-top: 80px;
}
