.SearchBar {
  margin: 0 auto;
  text-align: center;
  margin: 0;
  padding: 0;
}
.SearchBar form {
  margin-bottom: 4em;
}
.SearchBar .form-group {
  text-align: center;
  margin: 0 auto;
}
.SearchBar .form-control {
  min-width: 100%;
  border-color: #777171;
  border-width: 2px;
}
.SearchBar .btn {
  background: #777171;
  color: rgb(255, 255, 255);
  margin: 0;
  font-weight: 600;
  border-width: 2px;
  border-color: #777171;
  vertical-align: middle;
  border-radius: 0%;
  margin-left: -1px;
}
.SearchBar .col-2 {
  flex: none;
}
.SearchBar .btn:hover,
.SearchBar .btn:visited,
.SearchBar .btn:active,
.SearchBar .btn:focus {
  background: #aaa4a4;
}
.Searchbar h3 {
  margin-top: 80px;
}
