ul.strip {
  background: #b1a9a9;
  font-weight: 600;
  color: #fff;
  margin: 0px;
  padding: 3px 10px;
  border-radius: 0px;
  text-align: start;
}
.Weather ul.strip1 {
  margin: 30px 0px 0px 0px;
}

ul.strip li {
  font-size: 18px;
  display: inline;
  padding: 0;
}
.Weather ul.temperature {
  margin: 0 0 0 0;
}

.Weather ul.card-text {
  text-align: left;
  list-style-type: none;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 600;
  margin-top: 10px;
  letter-spacing: -0.5px;
  display: block;
}
.Weather ul li {
  text-align: left;
}
span.city,
span.country {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0em;
  position: relative;
  float: right;
  right: auto;
}
span.city:hover,
span.country:hover {
  color: #1e1e1e;
}

span.units {
  vertical-align: super;
  color: #665050;
  font-size: 30px;
  padding: 0;
  margin: 0;
  position: relative;
  top: -5px;
}
span.units > a {
  color: #777171;
  text-decoration: none;
}
.temperature {
  font-size: 65px;
  font-weight: 600;
  padding: 10px 0;
}

.temperature > li {
  display: inline;
}

img {
  filter: contrast(90%);
}
img.icon {
  padding: 5px 0;
  margin-top: -15px;
}
.iconic {
  position: relative;
  top: -5px;
}
.dispay-none {
  display: none;
}
.Weather .card-title {
  margin: 0px;
}

@media only screen and (max-width: 800px) {
  li.temp {
    font-size: 35px;
  }
  span.city {
    position: static;
    float: none;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
  }

  span.units > a {
    font-size: 20px;
  }
  span.units {
    font-size: 20px;
    position: relative;
    top: -5px;
  }

  ul.strip li {
    display: block;
    text-align: center;
  }
}
